<div
  class="d-flex justify-content-center align-items-center flex-column"
  style="height: 100vh;width: 100vw;"
>
  <div class="d-flex">
    <div class="form-group">
      <img src="https://via.placeholder.com/200/FFFF00/000000?Text=WebsiteBuilders.com"/>
    </div>
    <div class="ml-3">
      <div class="form-group">
        <div class="control-label">Username</div>
        <input type="text" class="form-control" name="Username" />
      </div>
      <div class="form-group">
        <div class="control-label">Password</div>
        <input type="password" class="form-control" name="password" />
      </div>
      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-outline-primary" />
      </div>
    </div>
  </div>
</div>
